/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 80px;
    background: var(--unnamed-color-aa0601) 0% 0% no-repeat padding-box;
    background: #AA0601 0% 0% no-repeat padding-box;
    opacity: 1;
}
header img {
    height: 90px; /* 品牌圖片的高度 */
    width: 80px; /* 自動調整品牌圖片的寬度 */
    margin-right: 10px; /* 品牌圖片右邊的間距 */
}

header nav img{
    width: 90px;
    height: 50px;
  
}
header li{
    padding top：30px;
    top: 25px;
    left: 1116px;
    width: 80px;
    height: 30px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 20px/30px var(--unnamed-font-family-source-han-sans-tw);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 20px/30px Source Han Sans TW;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    
}
#email{
    top: 3530px;
    left: 0px;
    width: 1920px;
    height: 922px;
    background: var(--unnamed-color-fbf2f2) 0% 0% no-repeat padding-box;
    background: #FBF2F2 0% 0% no-repeat padding-box;
    opacity: 1;
}
#email h3{
    margin-left: 642px;
    margin-right: 642px;
    color: #650300;
    margin: 5px;/* 調整 li 之間的間距 */
    font-size: 48px; /* 設定字體大小為 16px */
    font-family: 'Noto Sans TC', sans-serif; /* 使用思源黑體 TW 字型 */
    text-align: center;
}
#email p{
    top: 3730px;
    margin-left: 642px;
    width: 636px;
    height: 60px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 20px/30px var(--unnamed-font-family-source-han-sans-tw);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 20px/30px Source Han Sans TW;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}
#email name p{
    top: 3814px;
    margin-left: 642px;
    width: 32px;
    height: 12px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/24px var(--unnamed-font-family-source-han-sans-tw);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 16px/24px Source Han Sans TW;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}
.with-left-margin {
    margin-left: 642px; /* 根據需要調整左邊距 */
}
.custom-width {
    width: 600px; /* 根據需要調整寬度 */
}
footer{
    border-top: 1px solid #AA0601;
    padding: 80px 0px;
    text-align: left; /* 讓 footer 靠左對齊 */
}


footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* 允許元素換行 */
    justify-content: center; /* 讓元素水平居中 */
}

footer ul li {
    margin: 5px; /* 調整 li 之間的間距 */
    font-size: 16px; /* 設定字體大小為 16px */
    font-family: 'Noto Sans TC', sans-serif; /* 使用思源黑體 TW 字型 */
    text-align: left;
    
}
footer p {
    margin: 5px; 
    font-size: 36px; 
    font-family: 'Noto Sans TC', sans-serif; /* 使用思源黑體 TW 字型 */
}
footer a {
    text-decoration: none;
}
footer .text-left {
    text-align: left;
    margin-left: 318px;
}

